<<<<<<< HEAD
<h2>Autores de la Página Quiz</h2><br/> 
<img src='<%=author.urlfoto %>'><br/>        
<%=author.nombre%> 
=======
         <h2>Autores de la Página Quiz</h2><br/> 
        <img src='<%=author.urlfoto %>'><br/>        
        <%=author.nombre%> 
>>>>>>> b3a0fa70b201f919312dbc02dbd4ec9fb74ebe85
