<p><label for="preg" class="rem">Pregunta: </label>
<input type="text" id="preg" name="quiz[pregunta]" 
	value="<%= quiz.pregunta%>" /> </p>
<p><label for="resp" class="rem">Respuesta: </label>
<input type="text" id="resp" name="quiz[respuesta]" 
	value="<%= quiz.respuesta%>" /> </p>
<p>Categoria: <select name="quiz[tema]" id="tema">
   <option value="Otro">Otro</option>
   <% if (quiz.tema !== "Otro" ) {%>
   <option value="<%= quiz.tema %>" selected><%= quiz.tema %></option>
   <% } %>
   
   <% if (quiz.tema !== "Humanidades") {%>
   <option value="Humanidades">Humanidades</option>
   <% } %>
   <% if (quiz.tema !== "Ocio") {%>
   <option value="Ocio">Ocio</option>
   <% } %>
   <% if (quiz.tema !== "Ciencia") {%>
   <option value="Ciencia">Ciencia</option>
   <% } %>
   <% if (quiz.tema !== "Tecnología") {%>
   <option value="Tecnología">Tecnología</option>
   <% } %>
18</select>
</p></br>			
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">